{extend name="layout"/} {block name="body"}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group btn-group-md">
            <button class="btn btn-primary" onclick="helper.form.modify()">
                + 新增
            </button>
        </div>
        <table class="table table-hover middle-align text-center">
            <thead>
            <tr>
                <th>id</th>
                <th>职位名称</th>
                <th>部门</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>报名人数</th>
                <th>启用</th>
                <th>ip</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="_list" id="item"}
            <tr class="item" data-id="{$item.id}">
                <td>
                    <p class="form-control-static">
                        {$item.id}
                    </p>
                    <input type="hidden" name="id" value="{$item.id}" form="form-{$item.id}">
                </td>
                <td>
                    <input type="text" name="name" form="form-{$item.id}" class="form-control"
                           required="required" value="{$item.name}" placeholder="职位名称">
                </td>
                <td>
                    <input type="text" name="department" form="form-{$item.id}" class="form-control"
                           required="required" value="{$item.department}" placeholder="部门">
                </td>
                <td>
                    <p class="form-control-static">
                        {$item.create_time}
                    </p>
                    <input type="hidden" name="create_time" value="{$item.create_time}" form="form-{$item.id}">
                </td>
                <td>
                    <p class="form-control-static">
                        {$item.update_time}
                    </p>
                    <input type="hidden" name="update_time" value="{$item.update_time}" form="form-{$item.id}">
                </td>
                <td>
                    <p class="form-control-static">
                        <a href="{:url('job_apply/index')}">{$item.apply|count}</a>
                    </p>
                </td>
                <td>
                    <label>
                        启用 {if condition="$item.status"}
                        <input type="checkbox" class="iswitch iswitch-info" value="1" form="form-{$item.id}"
                               name="status" checked="checked">
                        {else/}
                        <input type="checkbox" class="iswitch iswitch-info" value="1" form="form-{$item.id}"
                               name="status">
                        {/if}
                    </label>
                </td>
                <td>
                    <p class="form-control-static">
                        {$item.ip}
                    </p>
                    <input type="hidden" name="ip" value="{$item.ip}" form="form-{$item.id}">
                </td>
                <td>
                    <input type="hidden" name="description" form="form-{$item.id}" value="{$item.description}">
                    <input type="hidden" name="requirement" form="form-{$item.id}" value="{$item.requirement}">
                    <form action="{:url('update')}" id="form-{$item.id}" onsubmit="helper.form.submit()">
                        <div class="btn-group">
                            <button class="btn btn-success">
                                保存
                            </button>
                            <button type="button" class="btn btn-info" onclick="helper.form.modify(this)">
                                修改
                            </button>
                            <button type="button" class="btn btn-danger"
                                    onclick="helper.form.del('{:url(\'delete\')}')">
                                删除
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <div>{:widget('common/paginator/show', [$_list])}</div>
    </div>
</div>
{/block} {block name="script"}
<div class="modal-group">
    <div class="modal fade" id="update-modal" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{:url('update')}" class="form" method="post" onsubmit="helper.form.submit();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
							<span class="action-type">
								更新
							</span>
                            招募信息
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="hidden" name="id">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="modal-form-name">
                                        职位名称
                                    </label>
                                    <input type="text" name="name" id="modal-form-name" class="form-control"
                                           required="required" placeholder="职位名称">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="modal-form-department">
                                        部门
                                    </label>
                                    <input type="text" name="department" id="modal-form-department" class="form-control"
                                           required="required" placeholder="部门">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="modal-form-description">
                                        职位描述
                                    </label>
                                    <textarea name="description" id="modal-form-description" class="form-control"
                                              placeholder="职位描述"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="modal-form-requirement">
                                        职位要求
                                    </label>
                                    <textarea name="requirement" id="modal-form-requirement" class="form-control"
                                              placeholder="职位要求"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="modal-form-status">
                                        启用
                                        <input type="checkbox" class="iswitch iswitch-info" value="1"
                                               id="modal-form-status"
                                               name="status">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">
                            取消
                        </button>
                        <button class="btn btn-success">
                            保存
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
</script>
{/block}