{assign name="param" value=":request()->only('class,time,page')"}
<div class="categories clearfix m-b-md">
    <div class="col-xs-12">
        <h4>目录</h4>
        <ul>
            {if condition="!input('class')"}
            <li class="active"><a href="{:url('blog/index', array_diff_key($param, ['class'=>'']))}">所有</a></li>
            {else/}
            <li><a href="{:url('blog/index', array_diff_key($param, ['class'=>'']))}">所有</a></li>
            {/if}
            {notempty name="_category_list"}
            {volist name="_category_list" id="vo"}
            {if condition="$vo['id'] eq input('class')"}
            <li class="active">
                <a href="{:url('blog/index', array_merge($param,['class'=>$vo['id']]))}">
                    {$vo.name} ({:count($vo->blog)})
                </a>
            </li>
            {else/}
            <li>
                <a href="{:url('blog/index', array_merge($param,['class'=>$vo['id']]))}">
                    {$vo.name} ({:count($vo->blog)})
                </a>
            </li>
            {/if}
            {/volist}
            {/notempty}
        </ul>
    </div>
</div>
<div class="categories clearfix">
    <div class="col-xs-12">
        <h4>时间</h4>
        <ul class="marked-list offs1">
            {if condition="!input('time')"}
            <li class="active"><a href="{:url('blog/index', array_diff_key($param, ['time'=>'']))}">所有</a></li>
            {else/}
            <li><a href="{:url('blog/index', array_diff_key($param, ['time'=>'']))}">所有</a></li>
            {/if}
            {notempty name="_time_list"}
            {volist name="_time_list" id="vo"}
            {if condition="$vo['date'] eq input('time')"}
            <li class="active">
                <a href="{:url('blog/index', array_merge($param,['time'=>$vo['date']]))}">
                    {$vo.year}年{$vo.month}月 ({$vo.count})
                </a>
            </li>
            {else/}
            <li>
                <a href="{:url('blog/index', array_merge($param,['time'=>$vo['date']]))}">
                    {$vo.year}年{$vo.month}月 ({$vo.count})
                </a>
            </li>
            {/if}
            {/volist}
            {else/}
            <li><a href="#">暂时还没有文章</a></li>
            {/notempty}
        </ul>
    </div>
</div>