<!--========================================================
                          HEADER
=========================================================-->
<header>
    <div id="stuck_container" class="stuck_container">
        <div class="container">
            <div class="brand off">
                <h1 class="brand_name">
                    <a href="{:url('index/index')}"><img width="250" src="__IMG__/logo.png" alt="Logo"></a>
                </h1>
                <p class="brand_slogan">
                    网页客研究会
                </p>
            </div>
            {include file="_layout/navbar"}
        </div>
    </div>
</header>