<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>反射器</title>
    {load href="__STATIC__/bootstrap/css/bootstrap.min.css"}
    <style>
        body {
            font-family: "Microsoft JhengHei Light", sans-serif;
        }
    </style>
</head>
<body>
<div class="jumbotron text-center">
    <h1>{$_module}模块</h1>
    <h2>权限节点列表</h2>
    <button class="btn btn-danger btn-lg" form="generate-form">删除选中的节点</button>
    <a href="javascript:history.go(-1)" class="btn btn-primary btn-lg">返回</a>
</div>
<div class="container">
    <div class="toolbar">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" id="hideExistBtn">
                <input type="checkbox"><i class="glyphicon glyphicon-eye-close"></i>隐藏已存在的节点
            </label>
        </div>
        <button class="btn btn-default" id="selectAllBtn"><i class="glyphicon glyphicon-checkbox"></i>选中全部</button>
        <button class="btn btn-default" id="selectNewBtn"><i class="glyphicon glyphicon-checkbox"></i>选中未知节点</button>
        <button class="btn btn-default" id="revertSelectBtn"><i class="glyphicon glyphicon-checkbox"></i>反选</button>
    </div>
    <form action="{:url('modifyMenu')}" class="form form-horizontal" method="post" id="generate-form"
          onsubmit="return modifyMenu()">
        {volist name='_node' id='item' key='i'}
        <div class="row">
            <div class="col-xs-12">
                <h2>{$item.title}中的节点</h2>
                <h3>{$item.name}</h3>
            </div>
        </div>
        <hr>
        <div class="form-group row text-center">
            <div class="col-sm-3">标题</div>
            <div class="col-sm-4">节点路径</div>
            <div class="col-sm-4">上级菜单</div>
            <div class="col-sm-1">隐藏</div>
        </div>
        {volist name='item.methods' id='method' key='j'}
        {if condition='$method["status"]'}
        <div class="form-group row has-success exist-item text-center">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon">
                        <input type="checkbox" name="node[{$method.id}][delete]" value="1" title="删除节点">
                    </div>
                    <input class="form-control" value="{$method.title}" name="node[{$method.id}][title]"
                           placeholder="标题">
                    <div class="input-group-addon">已存在</div>
                </div>
            </div>
            <div class="col-sm-4">
                <input class="form-control" value="{$method.uri}" name="node[{$method.id}][uri]"
                       placeholder="节点路径">
            </div>
            <div class="col-sm-4">
                <select name="node[{$method.id}][pid]" title="父级菜单项" class="form-control">
                    <option value="0">无</option>
                    {volist name='_menu' id='menu' key='k'}
                    {if condition="$menu['id'] == $method['pid']"}
                    <option value="{$menu.id}" selected="selected">
                        {for start='0' end='$menu["_level"]' name='l'}└─{/for} {$menu.title}
                    </option>
                    {else/}
                    <option value="{$menu.id}">
                        {for start='0' end='$menu["_level"]' name='l'}└─{/for} {$menu.title}
                    </option>
                    {/if}
                    {/volist}
                </select>
            </div>
            <div class="col-sm-1">
                <input type="checkbox" name="node[{$method.id}][hide]" value="1" title="隐藏">
            </div>
            <input type="hidden" value="{$_module}" name="node[{$method.id}][module]">
            <input type="hidden" value="1" name="node[{$method.id}][status]">
        </div>
        {else/}
        <div class="form-group row text-center has-error">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon">
                        <input type="checkbox" name="node[{$method.id}][delete]" value="1" title="删除节点"
                               checked="checked">
                    </div>
                    <input class="form-control" value="{$method.title}" name="node[{$method.id}][title]"
                           placeholder="标题">
                    <div class="input-group-addon">控制器不存在</div>
                </div>
            </div>
            <div class="col-sm-4">
                <input class="form-control" value="{$method.uri}" name="node[{$method.id}][uri]"
                       placeholder="节点路径">
            </div>
            <div class="col-sm-4">
                <select name="node[{$method.id}][pid]" title="父级菜单项" class="form-control">
                    <option value="0">无</option>
                    {volist name='_menu' id='menu' key='k'}
                    {if condition="$menu['id'] == $method['pid']"}
                    <option value="{$menu.id}" selected="selected">
                        {for start='0' end='$menu["_level"]' name='l'}└─{/for} {$menu.title}
                    </option>
                    {else/}
                    <option value="{$menu.id}">
                        {for start='0' end='$menu["_level"]' name='l'}└─{/for} {$menu.title}
                    </option>
                    {/if}
                    {/volist}
                </select>
            </div>
            <div class="col-sm-1">
                <input type="checkbox" name="node[{$method.id}][hide]" value="1" title="隐藏">
            </div>
            <input type="hidden" value="{$_module}" name="node[{$method.id}][module]">
            <input type="hidden" value="1" name="node[{$method.id}][status]">
        </div>
        {/if}
        {/volist}
        {/volist}
    </form>
</div>
{load href="__STATIC__/jquery/jquery-3.2.1.js"/}
{load href="__STATIC__/bootstrap/js/bootstrap.min.js"/}
{load href='__STATIC__/layer/layer.js'/}
<script>
    $("#hideExistBtn").click(function (e) {
        if (!$("input", this).is(":checked")) $(".exist-item").hide();
        else $(".exist-item").show();
    });
    $("#selectAllBtn").click(function () {
        $("input:checkbox", ".form-group").prop('checked', true);
    });
    $("#revertSelectBtn").click(function () {
        $("input:checkbox", ".form-group").each(function () {
            $(this).prop('checked', !$(this).prop('checked'));
        });
    });
    $('#selectNewBtn').click(function () {
        var $checkbox = $('input:checkbox', '.form-group:not(.exist-item)');
        $checkbox.prop('checked', true);
    });

    function modifyMenu() {
        event.preventDefault();
        var form = event.target;
        var fd = new FormData(form);
        $.ajax({
            url: form.action,
            data: fd,
            processData: false,
            contentType: false,
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (!data.code) return layer.msg(data.msg, {shift: 6});
//                if (data.url) location.href = data.url;
                layer.msg(data.msg);
                location.reload();
            }
        });
        return false;
    }
</script>
</body>
</html>