<header class="logo-env">
    <!-- logo -->
    <div class="logo">
        <a href="{:url('index/index')}">
            <img src="__IMG__/logo.png" alt=""/>
        </a>
    </div>
    <div class="mobile-menu-toggle visible-xs">
        <a href="#" data-toggle="user-info-menu">
            <i class="fa-user"></i>
        </a>
        <a href="#" data-toggle="mobile-menu">
            <i class="fa-bars"></i>
        </a>
    </div>
</header>
<ul id="main-menu" class="main-menu">
    {include file="layout/navigation"}
</ul>