@charset "utf-8";
@font-face {
    font-family: MILT_RG;
    src: url('../fonts/MILT_RG.ttf') format('truetype');
}

body {
    font-family: MILT_RG, "方正兰亭黑", "Microsoft JhengHei", "Microsoft YaHei", Arial, sans-serif;
    font-size: 1.1rem;
}

p {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: #242a2e;
}

h6 {
    font-size: 1.2em;
    line-height: 1;
}

ol, ul {
    list-style: none;
    padding-left: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover {
    color: var(--main-color);
    text-decoration: none;
}

.text-muted {
    color: #c0c0c0;
}

.text-primary {
    color: var(--main-color);
}

.bg2 {
    background: #fafafa;
}

.title {
    font-style: normal;
}

/* 按钮 */
.btn {
    border-radius: 0;
    transition-duration: 0.3s;
    position: relative;
}

.btn-primary {
    background: var(--main-color);
    color: #ffffff;
    border: none;
    outline: none;
}

.btn-primary:hover, .btn-primary:active {
    color: var(--main-color);
    background: #ffffff;
}

.btn-secondary {
    border: none;
    outline: none;
    background: #efefef;
    color: var(--main-color);
}

.btn-secondary:hover {
    background: var(--main-color);
    color: #ffffff;
}

.btn-icon {
    padding: 0 1rem;
    margin: -.375rem 1rem -.375rem -1rem;
    background: #434343;
    line-height: 2.6;
    display: inline-block;
}

.btn-primary .btn-icon {
    color: #ffffff;
}

.btn-secondary .btn-icon {
    color: var(--main-color);
}

.btn2 {
    border: none;
    outline: none;
    background: #ffffff;
    text-decoration: none;
    color: #242a2e;
}

.media img {
    max-width: initial;
}

.modal {
    z-index: 7001;
}

.modal-dialog {
    margin-top: 50px;
}

/* Layer关闭按钮 */
.layui-layer-setwin .layui-layer-close2 {
    transition: none;
}

/* 返回顶部 */
.toTop {
    transition-property: background;
}

/* Logo 文字大小 */
.brand_slogan {
    font-size: 2em;
}

/* 头部背景 */
header {
    background: url(../images/header.jpg) fixed center/cover;
}

/* 导航栏 */
.sf-menu {
    display: flex !important;
    position: relative;
    z-index: 7000;
}

.sf-menu > li {
    flex: 1;
    width: auto;
}

.sf-menu > li > a {
    font-size: 1em;
}

.navbar-toggler {
    display: none;
    border-radius: 0;
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 6999;
    transition-duration: 0.3s;
    padding: 1rem 1.25rem;
    font-size: 2.3em;
}

.stuck_container.isStuck {
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    -webkit-font-smoothing: antialiased;
    backdrop-filter: saturate(1.8) blur(20px);
    background: rgba(4, 4, 4, 0.6);
}

.isStuck .sf-menu {
    background: none;
}

.isStuck .sf-menu > li > a {
    background: none;
}

@media (max-width: 47.9em) {
    .navbar-toggler {
        display: block;
    }

    .sf-menu {
        display: block !important;
        border-bottom: none;
    }

    .sf-menu li {
        float: none;
        display: block;
        flex: none;
        width: 100%;
    }

    .sf-menu > li > a {
        padding: 1.7em 4em;
    }

    .nav {
        position: fixed;
        left: -100%;
        z-index: 6999;
        top: 50px;
        transition-duration: 0.3s;
        max-height: 70%;
        overflow-y: scroll;
    }

    .nav.active {
        left: 68px;
    }
}

/* banner 图片 */
.camera_caption > div h2, .camera_caption > div h4 {
    font-style: normal;
    color: #ffffff;
}

.camera_wrap img {
    max-width: none !important;
    filter: blur(20px) grayscale(0.3);
    transform: scale(1.2);
}

.camera_caption > div p {
    opacity: 0.8;
}

/* 欢迎词 */
.cnt p {
    font-family: inherit;
    font-size: 1em;
    line-height: 1.6;
}

/* 加入我们：视差滚动 */
.parallax1 {
    background: #ffffff url(../images/page-1_parallax01.jpg) center/cover;
    position: relative;
}

.parallax h1.parallax h2, .parallax h3, .parallax h4, .parallax h5, .parallax h6 {
    color: #ffffff;
}

.parallax1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    background: rgb(0, 0, 0);
    z-index: 0;
    opacity: 0;
    transition-duration: 0.3s;
}

.parallax1 > .container {
    position: relative;
    z-index: 1;
}

@media (max-width: 74.9em) {
    .parallax1::after {
        opacity: 0.5;
    }
}

/* 首页博客 */
@media (max-width: 47.9em) {
    .box-3_cnt {
        text-align: left;
    }
}

.box-3 .date {
    display: block;
}

.box-3_cnt {
    margin-top: 0;
}

.box-3_cnt h6 + p {
    font-size: 0.95em;
    overflow: hidden;
    max-height: 3.1em;
}

.box-3_cnt p {
    line-height: 1.7;
}

/* 我们的故事 */
.box-2_cnt .who {
    font-size: 1.4em;
}

.box-2_cnt p {
    font-family: inherit;
}

/* 活动安排表 */
.list li {
    font-size: 1em;
}

/* 博客页面 */
.blog-list p {
    line-height: 1.5;
}

.blog-list li:first-child {
    border: none;
}

.blog-list li {
    background: #ffffff;
    padding-bottom: 30px;
}

.blog-list li:nth-child(2n+1) {
    background: #ffffff;
}

.blog-list li + li {
    padding-top: 0;
    margin-top: 30px;
}

.blog-list img {
    transition-duration: 0.3s;
}

.blog-list img:hover {
    filter: brightness(1.1);
    opacity: 0.7;
}

.blog-list_header {
    margin-top: 30px;
}

.blog-list_header_top-block h6 {
    letter-spacing: normal;
    font-size: 1.5rem;
    line-height: 1.2;
}

.blog-list_header_bottom-block .post-by {
    color: #242a2e;
    text-transform: none;
}

/* 链接样式 */
.blog-list_header_bottom-block .post-by time, .blog-list_header_bottom-block .post-by a {
    color: var(--main-color);
}

.blog-list_header_bottom-block .post-by a:hover {
    text-decoration: underline;
    color: #434343;
}

.blog-list_header p a:hover {
    color: var(--main-color);
    text-decoration: none;
}

.blog-list p + a {
    margin-top: 20px;
}

/* 博客封面 */
.blog-list img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

/* 博客分类检索 */
.categories {
    background: #ffffff;
}

.categories > * {
    margin: 15px auto;
}

.categories h4 {
    color: #242a2e;
    font-size: 2rem;
}

.categories li {
    line-height: 1.714285;
    margin-top: 11px;
}

.categories a {
    color: var(--main-color);
}

.categories a:hover, .categories .active a {
    color: #242a2e;
}

/* 博客单页 */
.blog {
    color: #242a2e;
}

.blog a {
    color: var(--main-color);
}

.blog a:hover {
    color: #242a2e;
}

.blog h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: center;
}

.blog h2 {
    font-size: 2rem;
}

.blog h3 {
    font-size: 1.75rem;
}

.blog h4 {
    font-size: 1.5rem
}

.blog h5 {
    font-size: 1.25rem
}

.blog h6 {
    font-size: 1rem
}

.blog article {
    background: #ffffff;
    padding: 20px;
    color: #333333;
}

.blog article h1 {
    text-align: left;
    line-height: 1.5;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 1.1rem;
    font-weight: bold;
    font-size: 2.3rem;
}

.blog article h2 {
    line-height: 1.6;
}

.blog article, .blog article blockquote {
    font-size: 1rem;
    line-height: 1.6;
    color: #979898;
}

.blog article ul {
    list-style: initial;
    padding-left: 40px;
}

.blog .cover-img {
    width: 100%;
}

/* 博客单页 头部导航按钮 */
.next-btn {
    padding-left: 20px;
    padding-right: 69px;
    float: right;
}

.next-btn .btn2_icon {
    right: 0;
    left: auto;
    margin-right: 0;
}

.blog .btn2:hover {
    background: var(--main-color);
    color: #ffffff;
}

/* 博客回复 */
.response h3, .opinion h3 {
    color: var(--main-color);
}

/* 百度分享 */
.bdsharebuttonbox *, .bdshare_popup_box * {
    transition: none;
    transform: translateZ(0);
}

/* 表单控件 */
.form-control {
    line-height: 30px;
    padding: 10px 18px 10px;
    color: #bbbaba;
    background-color: #ffffff;
    border: 1px solid #dedede;
    width: 100%;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    min-height: 50px;
    margin: 0;
}

/* 相册 */
.gallery-grids-top {
    position: relative;
}

.gallery-grid img {
    transition-duration: 0.3s;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-grid:hover img {
    transform: translateY(-10px) translateZ(0);
    box-shadow: 0 5px 15px 0 #aaaaaa;
}

/* 留言板 */
.comments img {
    width: 100px;
    margin-bottom: 0.5em;
}

.comments .media-info {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.response-info > div {
    background: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

#contact-form .btn-wr .btn2 + .btn2 {
    margin-left: 15px;
}

@media (max-width: 47.9em) {
    .prev-btn, .next-btn {
        display: block;
        width: 100%;
    }

    .next-btn {
        margin-top: 10px;
        float: none;
    }
}

/* 关于 */
.cnt5 p {
    line-height: 1.6;
}

.cnt6 p {
    line-height: 1.6;
    opacity: 0.8;
}

.box-4_cnt p {
    line-height: 1.6;
}

/* 注册页面 */
.register .cnt {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3rem;
}

/* 用户中心 */
.user-center figcaption {
    line-height: 1.6;
}

.user-center .avatar-wrapper {
    margin-top: -5.5em;
}

.user-center .avatar-img {
    padding: .5em;
    background: #ffffff;
    box-shadow: 0 0 8px #f1f1f1;
}

.user-center .main {
    background: #ffffff;
    color: #434343;
    margin-top: 5rem;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 8px #f1f1f1;
}

.user-statistic > div {
    border-right: 2px solid #efefef;
}

.user-statistic > div:last-child {
    border-right: none;
}

.user-statistic i {
    font-size: 4rem;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 1rem;
}

.user-statistic span {
    display: block;
}