<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社团活动证明 - 网页客研究会</title>
</head>
<body>
<div>
    <h1 style="text-align: center">社团活动证明</h1>
    <p>
        兹证明：
    </p>
    <p style="text-indent: 2em;">
        &#12288;&#12288;上海电机学院{$_info.class}{$_info.name}同学参加网页客研究会社团活动，表现优异，活动次数共计20次以上。
    </p>
    <p>
        特此证明！
    </p>
    <p style="text-align: right">
        证明人：<img src="http://www.djwebclub.com__IMG__/signature.jpg" alt="孔元元" height="40"> <br>{:date('Y年n月j日')}
    </p>
</div>
</body>
</html>